@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body.light {
  background-color: white;
  color: black;
}
body.light a {
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}
body.dark a {
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
